@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");

:root {
	--main-components: #548ca8;
	--secondary-components: #334257;
	--main-text: #334257;
	--secondary-text: #476072;
	--tertiary-text: #eeeeee;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Header */
header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	margin-top: -50px;
	background-color: var(--main-components);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.brand {
	margin-left: 120px;
}

.brand img {
	width: 100px;
}

.navbar ul {
	display: flex;
	flex-direction: row;
}

.navbar ul li:not(:nth-last-child(1)) {
	margin-right: 25px;
}

.navbar ul li:nth-last-child(1) {
	margin-right: 120px;
}

.navbar ul li:nth-last-child(1):hover {
	opacity: 1;
}

.navbar ul li a {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: var(--tertiary-text);
	font-weight: 700;
	opacity: 0.8;
}

.navbar ul li a:hover {
	opacity: 1;
}

/* Beranda */
.beranda {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 50px;
	padding-top: 195px;
	padding-bottom: 215px;
	background-color: var(--main-components);
}

.beranda-illustration {
	margin-top: 20px;
	position: relative;
	animation: 5s linear 1s infinite alternate upDown;
}

.beranda-illustration img {
	width: 50%;
	margin-left: 120px;
}

.beranda-description {
	margin-right: 120px;
}

.beranda-description h1,
.beranda-description p {
	color: var(--tertiary-text);
}

.beranda-description h1 {
	margin-bottom: 15px;
	font-size: 3rem;
}

.beranda-description p {
	opacity: 0.5;
}

/* Fitur */
.fitur {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
}

.fitur-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	color: var(--main-text);
}

.fitur-title h2 {
	border-bottom: 3px solid var(--secondary-components);
}

.fitur-title h3 {
	opacity: 0.5;
}

.fitur-title-description {
	width: 60%;
	margin-top: 10px;
	font-weight: 500;
	text-align: center;
}

.fitur-cards {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
	margin-left: 55px;
}

.fitur-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
}

.fitur-card img {
	width: 220px;
	margin-bottom: 40px;
}

.fitur-card h3,
.fitur-card p {
	color: var(--main-text);
}

.fitur-card p {
	width: 75%;
	text-align: center;
	margin-top: 10px;
	opacity: 0.5;
}

/* Tutor */
.tutor {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
}

.tutor-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	color: var(--main-text);
}

.tutor-title h2 {
	border-bottom: 3px solid var(--secondary-components);
}

.tutor-title-description {
	margin-top: 10px;
	text-align: center;
	font-weight: 500;
	opacity: 0.5;
}

.tutor-card {
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transform: translateY(5px);
	transition: 0.5s;
}

.tutor-card:hover {
	transform: translateY(-5px);
	box-shadow: 3px 5px 11px -1px rgba(0, 0, 0, 0.74);
	transition: 0.5s;
}

.tutor-card-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tutor-card-details figure {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.tutor-card-image {
	width: 180px;
	border-radius: 20px;
}

.tutor-card-name,
.tutor-card-description {
	color: var(--main-text);
}

.tutor-card-name {
	margin-bottom: 5px;
}

.tutor-card-description {
	opacity: 0.5;
}

/* Contact */
.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
}

.contact-title {
	margin-bottom: 50px;
	color: var(--main-text);
}

.contact-form,
.contact-form-input {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-form-input {
	margin-bottom: 25px;
}

.contact-form-input label {
	margin-bottom: 10px;
	color: var(--main-text);
}

input[type="text"],
input[type="email"] {
	padding: 10px;
	border: 0.5px solid black;
	border-radius: 20px;
	color: var(--main-text);
}

input[type="text"],
input[type="email"],
textarea:focus {
	outline: 0px;
}

textarea {
	padding: 10px;
}

/* Footer */
footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
	padding-bottom: 25px;
	background-color: var(--main-components);
	color: var(--tertiary-text);
}

@keyframes upDown {
	0% {
		bottom: 0px;
	}

	50% {
		bottom: -20px;
	}

	100% {
		bottom: 0px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023.99px) {
	.beranda-description h1,
	.beranda-description p {
		margin-right: 0px;
		margin-left: 0px;
	}

	.beranda-description h1 {
		font-size: 2.5rem;
	}

	.fitur-cards {
		flex-wrap: wrap;
		margin-left: 0;
	}

	.fitur-card {
		width: 50%;
	}

	.fitur-card p {
		width: 75%;
	}

	.fitur-card:nth-last-child(1) {
		margin-top: 70px;
	}
}

@media screen and (max-width: 767.99px) {
	::-webkit-scrollbar {
		display: none;
	}

	/* Navbar */
	.brand {
		margin-left: 55px;
	}

	nav {
		width: 100%;
		padding: 10px 0;
		bottom: 0;
		position: fixed;
		background-color: var(--main-components);
		box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	.navbar ul {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.navbar ul li a {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.navbar ul li:nth-last-child(1) {
		margin-right: 0px;
	}

	/* Beranda */
	.beranda,
	.fitur-cards {
		flex-direction: column;
	}

	.beranda-illustration {
		display: flex;
		justify-content: center;
		margin-bottom: 80px;
	}

	.beranda-illustration img {
		margin-left: 0;
	}

	.beranda-description {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 0;
	}

	.beranda-description h1,
	.beranda-description p {
		width: 80%;
		text-align: center;
	}

	.beranda-description h1 {
		font-size: 2rem;
	}

	/* Fitur */
	.fitur-cards {
		margin-left: 0;
		align-items: center;
	}

	.fitur-card:not(:nth-child(1)) {
		margin-top: 70px;
	}

	.fitur-card p,
	.tutor-title-description {
		width: 70%;
	}

	/* Footer */
	footer {
		margin-bottom: 63px;
	}
}

@media screen and (max-width: 425.99px) {
	::-webkit-scrollbar {
		display: none;
	}

	/* Navbar */
	.brand {
		margin-left: 20px;
	}

	/* Beranda */
	.beranda-description h1,
	.beranda-description p {
		width: 75%;
	}

	.beranda-description h1 {
		font-size: 1.8rem;
	}

	/* Contact */
	textarea {
		width: 75%;
	}
}
