@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

header {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	margin-top: -50px;
	padding: 10px 0;
	background-color: #548ca8;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.brand {
	margin-left: 120px;
}

.navbar ul {
	display: flex;
	flex-direction: row;
}

.navbar ul li:not(:nth-last-child(1)) {
	margin-right: 25px;
}

.navbar ul li:nth-last-child(1) {
	margin-right: 120px;
	/* padding: 0 5px; */
	background-color: #334257;
	opacity: 0.8;
	border: 1px solid black;
	border-radius: 5px;
}

.navbar ul li:nth-last-child(1):hover {
	opacity: 1;
}

.brand,
.navbar ul li a:not(.kontak) {
	color: #1f1f1f;
}

.kontak {
	color: #f4f4f4;
}

.beranda {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: center;
	margin-top: 50px;
	padding-top: 80px;
	padding-bottom: 120px;
	background-color: #548ca8;
}

.beranda-ilustrasi {
	margin-top: 60px;
}

.beranda-ilustrasi img {
	width: 50%;
	margin-left: 120px;
}

.beranda-deskripsi h2,
.beranda-deskripsi p {
	margin-right: 150px;
	margin-left: -100px;
}

.beranda-deskripsi h2 {
	margin-bottom: 20px;
}
